<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Email VAlidation</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='js/myscript.js') }}"></script>
  </head>
  <body>

    <form class="" action="success.html" method="post">
         <div>
      <label for="email">Email:<input type="text" name="email" value=""></label>
              <input type="submit" value="Submit">
          </div>
    </form>

  </body>
</html>
